<section class="gh-view js-settings-content">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>{{t 'about.title'}}</span>{{/gh-view-title}}
    </header>
    <section class="view-content">
        <header class="gh-about-header">
            <img class="gh-logo" src="{{gh-path 'admin' '/img/ghost-logo.png'}}" alt="Ghost" />
            {{!-- TODO: fix about notifications --}}
            {{gh-notifications location="about-upgrade" notify="updateNotificationChange"}}
        </header>

        <section class="gh-env-details">
            <ul class="gh-env-list">
                <li class="gh-env-list-version"><strong>{{t 'about.version'}}</strong> {{model.version}}</li>
                <li><strong>{{t 'about.environment'}}</strong> {{model.environment}}</li>
                <li class="gh-env-list-database-type"><strong>{{t 'about.database'}}</strong> {{model.database}}</li>
                <li><strong>{{t 'about.mail'}}</strong> {{#if model.mail}}{{model.mail}}{{else}}{{t 'about.mailNative'}}{{/if}}</li>
            </ul>
            <div class="gh-env-help">
                <a href="http://support.ghost.org" class="btn btn-minor" target="_blank">{{t 'about.userDocumentation'}}</a>
                <a href="https://ghost.org/slack/" class="btn btn-minor" target="_blank">{{t 'about.help'}}</a>
            </div>
        </section>

        <section class="gh-credits">
            <h2>{{t 'about.creditsTitle'}}</h2>

            <section class="gh-contributors">
                {{partial "contributors"}}
            </section>

            <p>{{t 'about.creditsDescription'}}</p>

            <a href="https://ghost.org/about/contribute/" class="btn btn-blue btn-lg">{{t 'about.getInvolved'}}</a>

        </section>

        <footer class="gh-copyright-info">
            {{t 'about.copyright'}}, {{t 'about.license'}} <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE">{{t 'about.licenseType'}}</a>.
            <br>
            <a href="https://ghost.org/">{{t 'about.app'}}</a> {{t 'about.trademark'}} <a href="https://ghost.org/about/">{{t 'about.owner'}}</a>.
        </footer>
    </section>
</section>
